html {
height: 100%;
width: 100%;
}
body {
    background-color: #f1f1f1;
}

.header {
color: #E64968;
font-size:80px;
}

.lora {
font-family: "Lora", serif;
font-optical-sizing: auto;
font-weight: 700;
font-style: italic;
}

.container{
    justify-content: center;
}

img{
    border-radius:10px;
}

.student-id{
    margin:-5px 0 0 0;
    font-weight: 600;
}
